@media (max-width: 930px) {
	.games {
		.game {
			flex-direction: column;
			gap: 64px;
			text-align: center;
		}
	}
}
@media (max-width: 600px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
	.main {
		background-position: 31% 15px;
		height: 735px;
		.welcome {
			text-align: center;
			&__title {
				font-size: 32px;
			}
			&__text {
				font-size: 14px;
				margin-bottom: 32px;
			}
		}
	}
	.game {
		&__name {
			font-size: 48px;
		}
		&__desc {
			font-size: 14px;
			line-height: 22px;
		}
	}
}
