@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body,
html {
  height: 100vh;
  overflow-x: hidden;
}

input, button {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.main {
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000915;
  height: 1024px;
  padding-top: 217px;
}
.main .welcome {
  max-width: 700px;
  color: #fff;
}
.main .welcome__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}
.main .welcome__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 44px;
}
.main .welcome .start {
  border-radius: 30px;
  border: 2px solid #9c0332;
  background: #9c0332;
  padding: 13px 74px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease;
}
.main .welcome .start:hover {
  background: #fff;
  color: #9c0332;
}

.footer {
  max-height: 556px;
  height: 100%;
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
}
.footer .games {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer .games .game {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 300px;
  border-radius: 16px;
  transition: 0.3s ease;
}
.footer .games .game:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px #fff;
}
.footer .games .game-1 {
  background: url("../images/game1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .games .game-2 {
  background: url("../images/game2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .games .game-3 {
  background: url("../images/game3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  .container {
    padding-left: calc(50% - 440px);
    padding-right: calc(50% - 440px);
  }
  .footer {
    max-height: 1200px;
    height: 1200px;
  }
  .footer .games {
    grid-template-columns: minmax(300px, 378px);
    grid-template-rows: repeat(3, 300px);
  }
}
@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    background-position: 31% 15px;
    height: 735px;
  }
  .main .welcome {
    text-align: center;
  }
  .main .welcome__title {
    font-size: 32px;
  }
  .main .welcome__text {
    font-size: 14px;
    margin-bottom: 32px;
  }
}